# Day3-1

In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
rows = 5

In [3]:
data = {'國家': ['USA', 'UK', 'Brazil', 'taiwan', 'Cuba'],
        '人口': [random.randint(100000, 10000000) for i in range(rows)]}
data_1 = pd.DataFrame(data)

In [4]:
data_1

       國家       人口
0     USA  8533349
1      UK  5998062
2  Brazil  8843517
3  taiwan  4487268
4    Cuba  4353126